#anonbook{
    background-color: rgb(65, 75, 178);
    color: white;
    text-align: center;
}
#anonbook h1{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
#main {
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    margin-bottom: 25px;
}
.bio{
    display: inline;
    color: gray;
    font-size: 11px;
}
.posts{
    margin: 10px 20%;
    padding: 15px;
    border: 1px solid rgb(207, 209, 235);
    word-wrap: break-word;
}